/*	HOMEPAGE */
@media screen and (min-width:576px) {
	.home-description {
		padding: 20px 0;
		margin-top: 35px;
	}
}

.home-cover {
	padding-top: 150px;
	padding-bottom: 150px;
	background: url(../images/home-cover.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.small-heading {
	font-size: 20px;
}

// MENU VIEW

.totalPriceMenu {
	border-top: 1px solid #d0d0d0;
	font-weight: bold;
}
.confirmDinnerButton {
	margin-top: 25px;
}

// DISH DETAIL VIEW
.totalPriceDish {
	border-top: 1px solid #d0d0d0;
	font-weight: bold;
}

// BUTTONS

.btn.disabled, .disabled.btn-large, .btn-floating.disabled, .btn-large.disabled, .btn:disabled, .btn-large:disabled, .btn-large:disabled, .btn-floating:disabled {
	cursor: default;
}
