
	<div class="row amber lighten-3">
		<div class="col s12 m4 l4">
			<h3 class="small-heading">My Dinner: 4 people</h3>
		</div>
		<div class="col s12 m4 l4 offset-m4 offset-l4">
			<p><a class="waves-effect waves-light btn"><i class="mdi-navigation-arrow-back left"></i>Go back and edit dinner</a></p>
		</div>
	</div>

	<div class="row">
		<div class="col s12 m4 l3">
			<div class="card">
			    <div class="card-image">
			        <img class="responsive-img" src="images/pasta.jpg">
			        <span class="card-title"></span>
			    </div>
			    <div class="card-content">
			        <a href="#">Pasta</a>
			    </div>
			    <div class="card-action">
			        <p>SEK 77.00</p>
			    </div>
			</div>
		</div>
		<div class="col s12 m4 l3">
			<div class="card">
			    <div class="card-image">
			        <img class="responsive-img" src="images/fiorentina.jpg">
			        <span class="card-title"></span>
			    </div>
			    <div class="card-content">
			        <a href="#">Fiorentina</a>
			    </div>
			    <div class="card-action">
			        <p>SEK 180.20</p>
			    </div>
			</div>
		</div>
		<div class="col s12 m4 l3">
			<div class="card">
			    <div class="card-image">
			        <img class="responsive-img" src="images/cod.jpg">
			        <span class="card-title"></span>
			    </div>
			    <div class="card-content">
			        <a href="#">Boiled cod</a>
			    </div>
			    <div class="card-action">
			        <p>SEK 95.30</p>
			    </div>
			</div>
		</div>
		<div class="col s12 m4 l3">
			<h3 class="small-heading">
				Total: 312.40 SEK
			</h3>
		</div>
	</div>
