<div class="row home-cover">
		<div class="col s12 m6">
	    	<div class="card pink lighten-1">
	      		<div class="card-content white-text">
	              <span class="card-title">A home dinner service</span>
	              <p>Create your awesome dinner now.
	              Have fun with friends, explore new dishes, find the perfect recipe.</p>
	              <p>Start quickly</p>
	            </div>
	            <div class="card-action white-text">
	              <a href="#" id"create-new-dinner">Create new dinner</a>
	            </div>
	        </div>
	    </div>
</div>
