<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dinner planner</title>

    <!-- Bootstrap CSS 
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css"> -->

	<!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="css/style.css"  media="screen,projection"/>

  </head>
  <body>
	<div class="container">
		<div class="row card-panel">
			<div class="col s12 m7 l6">
				<h1>Homelette</h1>
			</div>
			<div class="col s12 m5 l6">
				<p class="home-description">From the best chefs in the world, directly to your kitchen</p>
			</div>
		</div>

	<div class="row amber lighten-3">
		<div class="col s12 m4 l4">
			<h3 class="small-heading">My Dinner: 4 people</h3>
		</div>
		<div class="col s12 m4 l4 offset-m4 offset-l4">
			<p><a class="waves-effect waves-light btn"><i class="mdi-navigation-arrow-back left"></i>Go back and edit dinner</a></p>
		</div>
	</div>

	<div class="row">
		<div class="col s12 m6 l2">
			<img class="responsive-img card-panel" src="images/pasta.jpg">
		</div>
		<div class="col s12 m6 l4">
			<h4>Pasta</h4>
			<p>Pasta is a staple food of traditional Italian cuisine, with the first reference dating to 1154 in Sicily. It is also commonly used to refer to the variety of pasta dishes.</p>
		</div>
		<div class="col s12 m12 l5">
			<h3 class="small-heading">Preparation</h3>
			<p>1. In a pan over a low heat, add a splash of water and two-thirds of the basil leaves and heat until wilted. Take it off the hob, leave to cool, then carefully squeeze out the excess water.</p>

			<p>2. Pop the leaves in a blender with 75g of the ricotta and blitz to a purée. Transfer it to a large bowl along with the remaining ricotta, the parmesan and eggs, and whisk vigorously, until light and airy.</p>

			<p>3. Using a large metal spoon, fold the flour into the ricotta mixture, adding a little more if it's too sticky – it needs to be soft and moist. </p>
		</div>
		<div class="col s12 m6 l2">
			<img class="responsive-img card-panel" src="images/fiorentina.jpg">
		</div>
		<div class="col s12 m6 l4">
			<h4>Fiorentina</h4>
			<p>Pasta is a staple food of traditional Italian cuisine, with the first reference dating to 1154 in Sicily. It is also commonly used to refer to the variety of pasta dishes.</p>
		</div>
		<div class="col s12 m12 l5">
			<h3 class="small-heading">Preparation</h3>
			<p>1. In a pan over a low heat, add a splash of water and two-thirds of the basil leaves and heat until wilted. Take it off the hob, leave to cool, then carefully squeeze out the excess water.</p>

			<p>2. Pop the leaves in a blender with 75g of the ricotta and blitz to a purée. Transfer it to a large bowl along with the remaining ricotta, the parmesan and eggs, and whisk vigorously, until light and airy.</p>

			<p>3. Using a large metal spoon, fold the flour into the ricotta mixture, adding a little more if it's too sticky – it needs to be soft and moist. </p>
		</div>
		<div class="col s12 m6 l2">
			<img class="responsive-img card-panel" src="images/cod.jpg">
		</div>
		<div class="col s12 m6 l4">
			<h4>Boiled cod</h4>
			<p>Pasta is a staple food of traditional Italian cuisine, with the first reference dating to 1154 in Sicily. It is also commonly used to refer to the variety of pasta dishes.</p>
		</div>
		<div class="col s12 m12 l5">
			<h3 class="small-heading">Preparation</h3>
			<p>1. In a pan over a low heat, add a splash of water and two-thirds of the basil leaves and heat until wilted. Take it off the hob, leave to cool, then carefully squeeze out the excess water.</p>

			<p>2. Pop the leaves in a blender with 75g of the ricotta and blitz to a purée. Transfer it to a large bowl along with the remaining ricotta, the parmesan and eggs, and whisk vigorously, until light and airy.</p>

			<p>3. Using a large metal spoon, fold the flour into the ricotta mixture, adding a little more if it's too sticky – it needs to be soft and moist. </p>
		</div>
	</div>

	</div>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Bootstrap JavaScript, needed if you want for instance tabs, models, popovers etc. 
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script> -->

    <!-- Import materialize.js -->
    <script type="text/javascript" src="js/materialize.min.js"></script>

	<!-- The application JavaScript code -->
	<script src="js/app.js"></script>
	<script src="js/model/dinnerModel.js"></script>
	<script src="js/view/exampleView.js"></script>
	<script src="js/view/exampleViewController.js"></script>
  </body>
</html>